<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- :: is a header fragment selector -->
<div th:replace="common/includes :: common-header" />
<link th:rel="stylesheet" th:href="@{/css/iziToast.css} "/>
<body class="nav-sm">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!-- navigation left side -->
                <div th:replace="common/includes :: navigation-leftside" />
                <!-- navigation left side -->
                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <!-- :: is a header fragment selector -->
                <div th:replace="common/includes :: sidebar-menu" />
                <!-- /sidebar menu -->

            </div>


            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>


    <!-- top navigation -->
    <div th:replace="common/includes :: top-navigation" />
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Create Pipeline</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Create Pipeline </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form th:action="@{/addPipeline}" th:object="${newpipeline}" method="post" class="form-horizontal form-label-left">

                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">General Information</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Continuous Integration</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content3" role="tab" data-toggle="tab" aria-expanded="false">Continuous Delivery</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content4" role="tab" data-toggle="tab" aria-expanded="false">Deployment</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Pipeline Name<span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id = "pipelineName" th:field="*{name}" type="text" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Project<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select th:field="*{project.projectID}" class="form-control col-md-7 col-xs-12 " required="required" tabindex="-1">
                                                <option value=""></option>
                                                <option th:each="project : ${listProjects}"
                                                        th:text="${project.projectName}"
                                                        th:value="${project.projectID}">
                                                </option>

                                            </select>

                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Repository URL<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input th:field="*{repositoryUrl}" type="text" id="last-name" class="form-control col-md-7 col-xs-12" required="required">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Repository Credentials<span class="required">*</span> </label>
                                            <div  class="col-md-6 col-sm-6 col-xs-12">
                                                <select th:field="*{repositoryCredentials.credentialId}" class="form-control col-md-7 col-xs-12 " required="required" tabindex="-1">
                                                    <option value=""></option>
                                                    <option th:each="credential : ${listCredentials}"
                                                            th:text="${credential.username}"
                                                            th:value="${credential.credentialId}">
                                                    </option>

                                                </select>
                                            </div>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">
                                            <i class="fa fa-key"> </i> Add credentials
                                        </button>
                                    </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">SAP environment</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="">
                                                    <label >
                                                        <input id="isSAPenvironment" type="checkbox"  class="js-switch" th:field="*{SAPenvironment}"  />
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            </label>
                                            <div  class="col-md-6 col-sm-6 col-xs-12">
                                                <!--select class="form-control col-md-7 col-xs-12" tabindex="-1" disabled-->
                                                <select th:field="*{SAPplateform}" id="SAPenvironment" class="form-control col-md-7 col-xs-12" tabindex="-1" disabled required="required">
                                                    <option value=""></option>
                                                    <option value="sap-cloud-sdk">sap-cloud-sdk</option>
                                                    <option value="sap-ui5-cf">sap-ui5-cf</option>
                                                    <option value="sap-ui5-neo">sap-ui5-neo</option>

                                                </select>
                                            </div>
                                        </div>


                                    <div class=" item form-group">


                                        <div class="intercom-composer-popover intercom-composer-emoji-popover">
                                            <div class="intercom-emoji-picker"><div class="intercom-composer-popover-header">
                                                <input class="intercom-composer-popover-input" placeholder="Search" value="">
                                            </div>
                                                <div class="intercom-composer-popover-body-container">
                                                    <div class="intercom-composer-popover-body">
                                                        <div class="intercom-emoji-picker-groups">
                                                            <div class="intercom-emoji-picker-group">
                                                                <div class="intercom-emoji-picker-group-title">Programming languages</div>  <!--input type="checkbox" th:field="*{java}" style="opacity:0; position:absolute; left:9999px;"/-->
                                                                <span class="intercom-emoji-picker-emoji" title="android" alt="java"><input type="checkbox" th:field="*{android}"/><img th:src="@{/images/android.png}" style="width:40px;height:40px;"> </span>
                                                                <span class="intercom-emoji-picker-emoji" title="java"><input type="checkbox" th:field="*{java}"/><img th:src="@{/images/java.png}" style="width:40px;height:40px;"> </span>
                                                                <span class="intercom-emoji-picker-emoji" title="php"><input type="checkbox" th:field="*{php}"/><img th:src="@{/images/php.jpg}" style="width:40px;height:40px;"> </span>
                                                                <span class="intercom-emoji-picker-emoji" title="cplus"><input type="checkbox" th:field="*{cplus}"/><img th:src="@{/images/cplus.png}" style="width:40px;height:40px;"> </span>
                                                            </div>
                                                            <div class="intercom-emoji-picker-group">
                                                                <div class="intercom-emoji-picker-group-title">Frameworks</div>
                                                                <span class="intercom-emoji-picker-emoji" title="spring"><input type="checkbox" th:field="*{spring}"/><img th:src="@{/images/spring.jpg}" style="width:40px;height:40px;"> </span>
                                                                <span class="intercom-emoji-picker-emoji" title="node"><input type="checkbox" th:field="*{node}"/><img th:src="@{/images/node.jpg}" style="width:40px;height:40px;"> </span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="intercom-composer-popover-caret"></div>
                                    </div>




                                    <!--icon  -->
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Technology
                                        </label>
                                        <div class="col-md-6">
                                            <div class="x_panel" id="emoji-picker">

                                                <div class="x_content">
                                                    <ul class="list-unstyled msg_list">
                                                        <li>
                                                            <a id="test-emoji">



                                                            </a>
                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- icon  -->
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                    <div  class="col-md-1 col-sm-6 col-xs-12"></div>

                                    <div  class="col-md-6 col-sm-6 col-xs-12">
                                        <ul class="list-unstyled timeline">

                                            <li>


                                                <div class="block_x">
                                                    <div class="tags_x">
                                                        <a href="" class="tag">
                                                            <span>Build</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" th:field="*{buildTool}" class="flat"/> Build tool
                                                        <br /><br />
                                                    </div>
                                                </div>
                                            </li>
                                            <li>

                                                <div class="block_x">
                                                    <div class="tags_x">
                                                        <a href="" class="tag">
                                                            <span>Local tests</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="LocalTests[]" th:field="*{backendIntegrationTests}" class="flat" /> Backend Integration Tests
                                                        <br /><br />

                                                        <input type="checkbox" name="LocalTests[]" th:field="*{backendUnitTests}" class="flat" /> Backend Unit Tests
                                                        <br /><br />

                                                        <input type="checkbox" name="LocalTests[]" th:field="*{frontendIntegrationTests}" class="flat" /> Frontend Integration Tests
                                                        <br /><br />

                                                        <input type="checkbox" name="LocalTests[]" th:field="*{frontendUnitTests}" class="flat" /> Frontend Unit Tests
                                                        <br /><br />

                                                        <input type="checkbox" name="LocalTests[]" th:field="*{lint}" class="flat" /> Lint
                                                        <br /><br />

                                                        <input type="checkbox" name="LocalTests[]" th:field="*{NPMdependencyAudit}" class="flat" /> NPM dependency Audit
                                                        <br /><br />

                                                        <input type="checkbox" name="LocalTests[]" th:field="*{staticCodeCheck}" class="flat" /> Static Code Check
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>
                                            <li>

                                                <div class="block_x">
                                                    <div class="tags_x">
                                                        <a href="" class="tag">
                                                            <span>Remote tests</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="RemoteTests[]" th:field="*{endToEndTests}" class="flat" /> End to End Tests
                                                        <br /><br />

                                                        <input type="checkbox" name="RemoteTests[]" th:field="*{performanceTests}" class="flat" /> Performance tests
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>
                                            <li>

                                                <div class="block_x">
                                                    <div class="tags_x">
                                                        <a href="" class="tag">
                                                            <span>Quality checks</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>

                                                        <input type="checkbox" name="QualityChecks" th:field="*{codeCoverage}" class="flat" /> Code coverage
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>
                                            <li>


                                                <div class="block_x">
                                                    <div class="tags_x">
                                                        <a href="" class="tag">
                                                            <span>Third-party checks</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="ThirdPartyChecks[]" th:field="*{additionalTools}" class="flat" /> Additional tools
                                                        <br /><br />

                                                        <input type="checkbox" name="ThirdPartyChecks[]" th:field="*{checkmarxScan}" class="flat" /> Checkmarx scan
                                                        <br /><br />

                                                        <input type="checkbox" name="ThirdPartyChecks[]" th:field="*{fortifyScan}" class="flat" /> Fortify scan
                                                        <br /><br />

                                                        <input type="checkbox" name="ThirdPartyChecks[]" th:field="*{sourceClearScan}" class="flat" /> SourceClear scan
                                                        <br /><br />

                                                        <input type="checkbox" name="ThirdPartyChecks[]" th:field="*{whiteSourceScan}" class="flat" /> White source scan
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                    <div  class="col-md-1 col-sm-6 col-xs-12"></div>
                                      <div  class="col-md-9 col-sm-6 col-xs-12">
                                        <ul class="list-unstyled timeline">


                                            <li>

                                                <div class="block_x">
                                                    <div class="tags_x">
                                                        <a href="" class="tag">
                                                            <span>Artifact Delivery</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <div class="item form-group">
                                                            <label class="control-label col-md-3 ">External Artifact Delivery</label>
                                                            <div class="col-md-1">
                                                                    <label >
                                                                        <input id="isExternalArtifact" type="checkbox"  class="js-switch" th:field="*{externalArtifact}"  />
                                                                    </label>
                                                            </div>
                                                        </div>

                                                        <div class="item form-group">
                                                            <label class="control-label col-md-3 col-sm-3">Repository URL </label>
                                                            <div  class="col-md-6 col-sm-6 col-xs-12">
                                                                <input type="text" id ="artifactUrl" th:field="*{artifactUrl}" class="form-control col-md-7 col-xs-12" placeholder="Put your repository URL" disabled>
                                                                    <!--input type="text" id ="artifactUsername" th:field="*{artifactUsername}" class="form-control col-md-7 col-xs-12" placeholder="Repository username">
                                                                    <input type="text" id ="artifactPassword" th:field="*{artifactPassword}" class="form-control col-md-7 col-xs-12" placeholder="Repository password"-->

                                                            </div></div>

                                                        <div class="item form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Repository Credentials </label>
                                                            <div  class="col-md-6 col-sm-6 col-xs-12">
                                                                <!--select id="artifactUsername" th:field="*{artifactUsername}" class="form-control col-md-7 col-xs-12" tabindex="-1">
                                                                    <option value=""></option>
                                                                    <option th:each="credential : ${listCredentials}"
                                                                            th:text="${credential.username}"
                                                                            th:value="${credential.username}">
                                                                    </option>
                                                                </select-->

                                                                <!--select id="artifactPassword" th:field="*{artifactPassword}" class="form-control col-md-7 col-xs-12" tabindex="-1">
                                                                    <option value=""></option>
                                                                    <option th:each="credential : ${listCredentials}"
                                                                            th:text="${credential.password}"
                                                                            th:value="${credential.password}">
                                                                    </option>
                                                                </select-->
                                                                <select id="artifactCredentials" th:field="*{artifactCredentials.credentialId}" class="form-control col-md-7 col-xs-12  " tabindex="-1" disabled>
                                                                    <option value=""></option>
                                                                    <option th:each="credential : ${ListNexusCredentials}"
                                                                            th:text="${credential.username}"
                                                                            th:value="${credential.credentialId}">
                                                                    </option>

                                                                </select>
                                                            </div>
                                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">
                                                                        <i class="fa fa-key"> </i> Add credentials
                                                            </button>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                                            <div  class="col-md-6 col-sm-6 col-xs-12">
                                                                <button id="testCnxBtn" type="submit" class="btn btn-default btn-sm" >Test Connection</button></div></div>

                                                        <div>
                                                        </div>
                                                        </div>
                                                </div>
                                            </li>



                                        </ul>
                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                                    <div  class="col-md-1 col-sm-6 col-xs-12"></div>
                                    <div  class="col-md-6 col-sm-6 col-xs-12">
                                        <ul class="list-unstyled timeline">


                                            <li>

                                                <div class="block_x">
                                                    <div class="tags_x">
                                                        <a href="" class="tag">
                                                            <span>Deployment server</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <select class="form-control " th:field="*{deploymentServer}" required="required">
                                                            <option value="Focus Cloud">Focus Cloud</option>
                                                            <option  value="Amazon Web Services">Amazon Web Services</option>
                                                            <option value="Cloud Foundry">Cloud Foundry</option>
                                                            <option value="Other">Other...</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </li>




                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                           <div  class="col-md-6 col-sm-6 col-xs-12"></div>

                    <div  class="col-md-1 col-sm-6 col-xs-12">
                        <button type="submit" class="btn btn-success btn-sm">Generate Pipeline</button></div><!-- th:href="@{/builds}" class="btn-success"-->
                        </form>
                    </div>
                </div>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Add credential</h4>
                            </div>
                            <form class="form-horizontal form-label-left" action="#" method="post" th:action="@{/save}">
                                <div class="modal-body">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align" >Provider</label>
                                        <div class="col-md-6 col-sm-6">
                                            <select id="provider" name="provider" type="provider" class="form-control col-md-7 col-xs-12  " tabindex="-1">
                                                <option value="Nexus">Nexus</option>
                                                <!--option th:each="credential : ${listCredentials}"
                                                        th:text="${credential.provider}"
                                                        th:value="${credential.provider}">
                                                </option-->

                                            </select>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align" >Username</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input id="username" name="username" type="username" class="form-control username" /></div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align" >Email</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input id="email" class="form-control email" name="email" type="email" /></div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align" >Password</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input id="password" class="form-control password" name="password" type="password" /></div>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <input type="submit" value="Submit" /></button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                DOFAN - Next Gen by <a href=" ">Focus Corporation</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

</div>
</div>
</div>



<!-- :: is a footer fragment selector -->
<div th:replace="common/includes :: body-bottom-scripts" />
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/iziToast.min.js}"></script>
<script>
    $('#testCnxBtn').click(function (event) {
        event.preventDefault();
        //noinspection JSJQueryEfficiency
        $.post("/testNexusConnection", {'artifactCredentials': $('#artifactCredentials').val(),'artifactUrl': $('#artifactUrl').val()}, function () {
            iziToast.show({
                title: 'Success',
                message: 'Provided artifact Url is valid',
                position: 'topRight',
                timeout: 500000,
                color: 'green'
            });

        }).fail(function () {
            iziToast.show({
                title: 'Fail',
                message: 'This is not a valid artifactUrl',
                position: 'topRight',
                color: 'red'
            });
        });
    });
</script>
<script>
    $('#isSAPenvironment').change(function(){
        if($(this).is(':checked')){
            $('#SAPenvironment').prop('disabled',false)
        }else{
            $('#SAPenvironment').prop('disabled',true)
        }
    })
    $('#isExternalArtifact').change(function(){
        if($(this).is(':checked')){
            $('#artifactUrl').prop('disabled',false);
            $('#artifactCredentials').prop('disabled',false);
        }else{
            $('#artifactUrl').prop('disabled',true);
            $('#artifactCredentials').prop('disabled',true);
        }
    })
</script>
</body>
</html>