<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- :: is a header fragment selector -->
<div th:replace="common/includes :: common-header" />

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="../index.html" class="site_title"><i class="fa fa-paw"></i> <span>DOFAN</span></a>
                </div>

                <div class="clearfix"></div>

                <br/>

                <!-- sidebar menu -->
                <!-- :: is a header fragment selector -->
                <div th:replace="common/includes :: sidebar-menu" />
                <!-- /sidebar menu -->

            </div>


            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>
    </div>

    <!-- top navigation -->
    <div th:replace="common/includes :: top-navigation" />
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Create job</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
<div class="">
            <div class="">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i> Create Job </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left">


                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">General Information</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Continuous Integration</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Continuous Delivery</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Deployment</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Job Name <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Project <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="Project" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Repository URL <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Repository Credentials <span class="required">*</span></label>
                                            <div  class="col-md-6 col-sm-6 col-xs-12">
                                                <select required="required" class="form-control col-md-7 col-xs-12" tabindex="-1">
                                                    <option></option>
                                                    <option value="AK">Alaska</option>
                                                    <option value="HI">Hawaii</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">SAP environment</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="">
                                                    <label >
                                                        <input type="checkbox"  class="js-switch"   />
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12"><span class="required"></span>
                                            </label>
                                            <div  class="col-md-6 col-sm-6 col-xs-12">
                                                <select required="required" class="form-control col-md-7 col-xs-12" tabindex="-1" disabled>
                                                    <option></option>
                                                    <option value="AK">sap-cloud-sdk</option>
                                                    <option value="HI">sap-ui5-cf</option>
                                                    <option value="HI">sap-ui5-neo</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Language <span class="required">*</span>
                                            </label>
                                            <div  class="col-md-6 col-sm-6 col-xs-12">
                                                <select required="required" class="form-control col-md-7 col-xs-12" tabindex="-1" >
                                                    <option></option>
                                                    <option value="java">Java</option>
                                                    <option value="c">C</option>
                                                    <option value="python">Python</option>
                                                    <option value="php">PHP</option>


                                                </select>
                                            </div>
                                        </div>


                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                    <div  class="col-md-1 col-sm-6 col-xs-12"></div>

                                    <div  class="col-md-6 col-sm-6 col-xs-12">
                                        <ul class="list-unstyled timeline">

                                            <li>


                                                <div class="block">
                                                    <div class="tags">
                                                        <a href="" class="tag">
                                                            <span>Build</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> Backend Integration Tests
                                                        <br /><br />

                                                    </div>
                                                </div>
                                            </li>
                                            <li>


                                                <div class="block">
                                                    <div class="tags">
                                                        <a href="" class="tag">
                                                            <span>Local tests</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> Backend Integration Tests
                                                        <br /><br />

                                                        <input type="checkbox" name="hobbies[]" id="hobby2" value="run" class="flat" /> Backend Unit Tests
                                                        <br /><br />

                                                        <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Frontend Integration Tests
                                                        <br /><br />

                                                        <input type="checkbox" name="hobbies[]" id="hobby2" value="run" class="flat" /> Frontend Unit Tests
                                                        <br /><br />

                                                        <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Lint
                                                        <br /><br />

                                                        <input type="checkbox" name="hobbies[]" id="hobby4" value="sleep" class="flat" /> NPM dependency Audit
                                                        <br /><br />

                                                        <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Static Code Check
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>
                                            <li>

                                                <div class="block">
                                                    <div class="tags">
                                                        <a href="" class="tag">
                                                            <span>Remote tests</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> End to End Tests
                                                        <br /><br />



                                                        <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Performance tests
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>
                                            <li>


                                                <div class="block">
                                                    <div class="tags">
                                                        <a href="" class="tag">
                                                            <span>Quality checks</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> End to End Tests
                                                        <br /><br />



                                                        <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Performance tests
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>
                                            <li>


                                                <div class="block">
                                                    <div class="tags">
                                                        <a href="" class="tag">
                                                            <span>Third-party checks</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> Additional tools
                                                        <br /><br />

                                                        <input type="checkbox" name="hobbies[]" id="hobby2" value="run" class="flat" /> Checkmarx scan
                                                        <br /><br />

                                                        <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Fortify scan
                                                        <br /><br />

                                                        <input type="checkbox" name="hobbies[]" id="hobby2" value="run" class="flat" /> SourceClear scan
                                                        <br /><br />



                                                        <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> White source scan
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">

                                        <ul class="list-unstyled timeline">


                                            <li>
                                                <br /><br />

                                                <div class="block">
                                                    <div class="tags">
                                                        <a href="" class="tag">
                                                            <span>Remote tests</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> End to End Tests
                                                        <br /><br />



                                                        <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Performance tests
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>
                                            <li>

                                                <br /><br />
                                                <div class="block">
                                                    <div class="tags">
                                                        <a href="" class="tag">
                                                            <span>Quality checks</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> End to End Tests
                                                        <br /><br />



                                                        <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Performance tests
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>


                                        </ul>


                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">

                                        <ul class="list-unstyled timeline">


                                            <li>
                                                <br /><br />

                                                <div class="block" >
                                                    <div class="tags">
                                                        <a href="" class="tag">
                                                            <span>Remote tests</span>
                                                        </a>
                                                    </div>
                                                    <div class="block_content">
                                                        <h2 class="title">     </h2>
                                                        <input type="checkbox" name="hobbies[]" id="hobby1" value="ski" data-parsley-mincheck="2" required class="flat" /> End to End Tests
                                                        <br /><br />



                                                        <input type="checkbox" name="hobbies[]" id="hobby3" value="eat" class="flat" /> Performance tests
                                                        <br />
                                                    </div>
                                                </div>
                                            </li>



                                        </ul>


                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
</div>
        </div>
    </div>
    <!-- /page content -->

</div>
</div>



<!-- :: is a footer fragment selector -->
<div th:replace="common/includes :: body-bottom-scripts" />

</body>
</html>