<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- :: is a header fragment selector -->
<div th:replace="common/includes :: common-header" />

<body class="nav-sm">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!-- navigation left side -->
                <div th:replace="common/includes :: navigation-leftside" />
                <!-- navigation left side -->
                <div class="clearfix"></div>

                <br />

                <!-- sidebar menu -->
                <!-- :: is a header fragment selector -->
                <div th:replace="common/includes :: sidebar-menu" />
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div th:replace="common/includes :: top-navigation" />
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Credentials</h3>
                    </div>

                    <div class="title_right">

                        <div class="col-md-4 form-group pull-right top_search ">
                            <div class="item form-group">


                            </div>

                        </div>
                    </div>
                </div>

                <div class="clearfix pull-right">
                    <button class="btn btn-round btn-primary" type="button" data-toggle="modal" data-target=".add-project-modal">Create New Credential</button>
                </div>
                <div class="modal fade add-project-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Create new credential</h4>
                            </div>
                            <form class="form-horizontal form-label-left" action="/addCredential" th:object="${newCredential}" method="post">
                                <div class="modal-body">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align" >Provider<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6">
                                            <select    th:field="*{provider}"   class="form-control col-md-7 col-xs-12" tabindex="-1">
                                               
                                                <option  th:value="GitHub">GitHub</option>
                                                <option th:value="GitLab">GitLab</option>
                                                <option  th:value="Nexus">Nexus</option>
                                                <option th:value="Autre">Autre</option>
                                            </select></div>
                                    </div>                            
                                    
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align" >Username<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6">
                                            <input id="username" th:field="*{username}" class="form-control" name="username"  required="required" /></div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align" >Email</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input id="email" th:field="*{email}" class="form-control email" name="email" required="required" type="email" /></div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align" >Password<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6">
                                            <input id="password" th:field="*{password}"class="form-control password" name="password" required="required" type="password" /></div>
                                    </div>
                                    
                                    
                                    <!--div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align" >Type<span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6">
                                            <select required="required" class="form-control col-md-7 col-xs-12" tabindex="-1">
                                                <option></option>
                                                <option value="BA">Basic Authentication</option>
                                            </select></div>
                                    </div!-->
                                    
                                </div>


                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade edit-credential-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form  id="formEditCredential" class="form-horizontal form-label-left" action="#" method="post" th:action="@{/save}" autocomplete="on">
                                    <span class="section">Edit Credential Info</span>
                                    <div class="field item form-group" >
                                            <input class="form-control "   id="credentialId"  name ="credentialId"  type="hidden"   />
                                    </div>
                                    <div class="field item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align">Provider</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input class="form-control " id="provider" name="provider"  type="text"  /></div>
                                    </div>
                                    <div class="field item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align">Username</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input class="form-control " id="username" name="username"  type="text"  /></div>
                                    </div>
                                    <div class="field item form-group">
                                       
                                    </div>
                                    <div class="field item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align">Email</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input class="form-control " id="email"   type="email" name="email"  /></div>
                                    </div>
                                    <div class="field item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3  label-align">Password</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input class="form-control  "  id="password"name="password" type="text"  /></div>
                                    </div>
                                    
                                   
                                   
                                    <div class="ln_solid">
                                        <div class="form-group">
                                            <div class="col-md-9 offset-md-3">
                                                <button type='cancel' class="btn btn-danger glyphicon glyphicon-remove pull-right"></button>
                                                <button type='submit' class="btn btn-success glyphicon glyphicon-ok pull-right"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Credentials<small>(5)</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th style="display:none;"></th>
                                        <th>Provider</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Position</th>
                                        <th>Type</th>
                                        <th>E-mail</th>
                                        <th>Actions</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                   
                                    <tr th:each = "credential : ${credentials}">
                                        <td style="display:none;" th:text="${credential.credentialId}"> </td>
                                        <td th:text="${credential.provider}"></td>
                                        <td th:text="${credential.username}"></td>
                                        <td th:text="${credential.password}"></td>
                                        <td>Accountant</td>
                                        <td>Basic Authentication</td>
                                        <td name="email" th:text="${credential.email}">eryre</td>
                                        <td>
                                            <a th:href="@{findOne/(id=${credential.credentialId})}" class=" eBtn btn glyphicon glyphicon-pencil blue editCredential back" title="edit"> </a>
                                            <a class="btn glyphicon glyphicon-trash red back delBtn" th:href="@{deleteCredential/(id=${credential.credentialId})}" title="delete" type="button" data-toggle="tooltip" data-placement="left" data-original-title="delete"></a>
                                            

                                    </tr>
                                    <tr  >
                                        <td  ></td>
                                        <td >Garrett</td>
                                        <td text=" password">password</td>
                                        <td>Accountant</td>
                                        <td>Basic Authentication</td>
                                        <td name="email" text="fghfdhgdfh">hdhdh</td>
                                        <td>
                                            <button class="btn glyphicon glyphicon-pencil blue editCredential back" title="edit" type="button" data-toggle="modal" data-target=".edit-credential-modal" />
                                            <button class="btn glyphicon glyphicon-trash red back" title="delete" type="button" data-toggle="tooltip" data-placement="left" data-original-title="delete"/></td>


                                    </tr>
                                    
                                    
                                    
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal"
        role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="myModalLabel">Delete Credential</h5>
                   <button aria-label="Close" class="close" data-dismiss="modal"
                           type="button">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div class="modal-body">
                   <p class="alert alert-danger">
                       Are you sure you want to delete this credential entry ?
                   </p>
               </div>
               <div class="modal-footer">
                   <button class="btn btn-secondary" data-dismiss="modal"
                           type="button">Close
                   </button>
                   <a class="btn btn-danger" href="" id="delRef">Delete</a>
               </div>
           </div>
       </div>
     </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                DOFAN - Next Gen by <a href=" ">Focus Corporation</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>


<!-- :: is a footer fragment selector -->
<div th:replace="common/includes :: body-bottom-scripts" />



</body>
</html>