<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<!-- :: is a header fragment selector -->
<div th:replace="common/includes :: common-header" />

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <!-- navigation left side -->
        <div th:replace="common/includes :: navigation-leftside" />
        <!-- navigation left side -->
        <div class="clearfix"></div>

        <br />

        <!-- sidebar menu -->
        <!-- :: is a header fragment selector -->
        <div th:replace="common/includes :: sidebar-menu"></div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div th:replace="common/includes :: top-navigation" />
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="row tile_count">
        <!-- Add Widget at this level -->
      </div>
      <!-- /top tiles -->

      <div class="row">
        <!-- Page Content Should be Added Here -->
        <div role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>&nbsp&nbsp&nbspAll Pipelines</h3>

              </div>

              <div class="title_right">
                <div class="col-md-4 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>

                <div class="col-md-4 form-group pull-right top_search ">
                  <div class="item form-group">

                    <div >
                      <select required="required" class="form-control col-md-6 col-xs-9 " tabindex="-1">
                        <option value="ap">All pipelines</option>
                        <option value="AK">Pipeline 1</option>
                        <option value="HI">Pipeline 2</option>
                      </select>
                    </div>
                  </div>

                </div>

                <div class="col-md-4 form-group pull-right top_search ">
                  <div class="item form-group">

                    <div >
                      <select required="required" class="form-control col-md-6 col-xs-9 " tabindex="-1">
                        <option value="ap">All projects</option>
                        <option value="AK">Project 1</option>
                        <option value="HI">Project 2</option>

                      </select>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="clearfix pull-right">
                <button class="btn btn-round btn-primary set_mrg" type="button"><a th:href="@{/addJob}" class="btn-primary">Create New Pipeline</a></button>
            </div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Project 1(2)<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">

                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>

                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <!-- start of weather widget -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>Pipeline 1</h2>
                          <ul class="nav navbar-right panel_toolbox">

                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-pencil"></i></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                              </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-trash"></i></a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="temperature"><b>Monday</b>, 07:30 AM
                                <span>F</span>
                                <span><b>C</b></span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="weather-icon">
                                <!--canvas height="84" width="84" id="partly-cloudy-day"></canvas-->
                                <img src="https://www.jenkins.io/doc/book/resources/blueocean/icons/weather/storm.svg"
                                     height="84" width="84">
                              </div>
                            </div>
                            <div class="col-sm-8">
                              <div class="weather-text">
                                <button type="button" class="btn btn-round btn-success"><i class="fa fa-play"></i>&nbsp&nbspRun</button>
                                <h2>Last status: Success <br><a th:href="@{/builds}">Build time: 8s <button type="button" class="btn btn-link">Link</button></a></h2>
                              </div>
                            </div>
                          </div>


                          <div class="clearfix"></div>
                          <div> <p> Description:<br>do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p></div>

                        </div>
                      </div>

                    </div>
                    <!-- end of weather widget -->


                    <!-- start of weather widget -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>Pipeline 2</h2>
                          <ul class="nav navbar-right panel_toolbox">

                            <li class=" ">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-pencil"></i></a>

                            </li>
                            <li><a class=" "><i class="fa fa-trash"></i></a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="temperature"><b>Monday</b>, 07:30 AM
                                <span>F</span>
                                <span><b>C</b></span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="weather-icon">
                                <!--canvas height="84" width="84" id="partly-cloudy-day"></canvas-->
                                <img src="https://www.jenkins.io/doc/book/resources/blueocean/icons/weather/sunny.svg"
                                     height="84" width="84">
                              </div>
                            </div>
                            <div class="col-sm-8">
                              <div class="weather-text">
                                <button type="button" class="btn btn-round btn-success"><i class="fa fa-play"></i>&nbsp&nbspRun</button>
                                <h2>Last status: Success <br><a th:href="@{/builds}"><i>Build time: 9s</i> <button type="button" class="btn btn-link">Link</button> </a></h2>
                              </div>
                            </div>
                          </div>


                          <div class="clearfix"></div>
                          <div><p>Description:<br>do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p></div>
                        </div>
                      </div>

                    </div>
                    <!-- end of weather widget -->

                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <br />
      <!-- To be hidden later-->

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_content">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">

                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">

                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 profile_details">

                  </div>

                </div>

                <div class="clearfix"></div>

                <div class="col-md-3 col-sm-4 col-xs-12 profile_details">

                </div>

                <div class="col-md-6 col-sm-4 profile_details">
                  <div class="well profile_view">
                    <div class="col-sm-12">


                      <img th:src="@{/images/pipeline.gif}" width="340" height="260"  style="border-radius: 50%;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;;
  height: auto;"></div>


                    <div class="col-sm-12">
                      <div class="col-sm-12">
                        <h1 style="text-align:center" >Build, test and deploy with Pipelines !</h1>
                        <p style="text-align:center">Easy to set up  CI/CD Pipelines.</p>
                      </div>
                    </div>
                    <div class="col-xs-12 bottom text-center">


                      <button type="button" class="btn btn-primary ">
                        Getting Started
                      </button>

                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12 profile_details">

                </div>



              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        DOFAN - Next Gen by <a href=" ">Focus Corporation</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>

<!-- :: is a footer fragment selector -->
<div th:replace="common/includes :: body-bottom-scripts" />
</body>
</html>
