<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- :: is a header fragment selector -->
<div th:replace="common/includes :: common-header" />

<body class="nav-sm">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <!-- navigation left side -->
        <div th:replace="common/includes :: navigation-leftside" />
        <!-- navigation left side -->
        <div class="clearfix"></div>

        <br />

        <!-- sidebar menu -->
        <!-- :: is a header fragment selector -->
        <div th:replace="common/includes :: sidebar-menu" />
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div th:replace="common/includes :: top-navigation" />
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="row tile_count">
        <!-- Add Widget at this level -->
      </div>
      <!-- /top tiles -->

      <div class="row">
        <!-- Page Content Should be Added Here -->
        <!-- Pie Chart-->
        <div class="col-md-4">
          <div class="x_panel">
              <div class="x_title">
                  <h2>Environment Chart</h2>
                  <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Settings 1</a>
                              </li>
                              <li><a href="#">Settings 2</a>
                              </li>
                          </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                  </ul>
                  <div class="clearfix"></div>
              </div>
            <div class="x_content">
                <p>Environment sorted by its size.</p>
                <div class="row">
                  <div class="col-xs-4">
                                  <div class="chart" data-percent="86">
                                    <span class="percent"> Small </span>
                                  <canvas height="110" width="110"></canvas>
                                  </div>
                  </div>
                  <div class="col-xs-4">
                                  <div class="chart" data-percent="70">
                                    <span class="percent"> Meduim </span>
                                  <canvas height="110" width="110"></canvas>
                                  </div>
                  </div>
                  <div class="col-xs-4">
                                  <div class="chart" data-percent="60">
                                    <span class="percent"> xLarge </span>
                                  <canvas height="110" width="110"></canvas>
                                  </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
            </div>
          </div>
        </div>
        <!-- Pie Chart-->

        <!-- Bar Graph -->
        <div class="col-md-8">
          <div class="x_panel">
            <div class="x_title">
              <h2>Project Chart</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div id="mainb" style="height:350px;"></div>

            </div>
          </div>
        </div>
        <!-- Bar Graph -->

        <!-- Pipelines list -->
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Pipelines</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <p>Last of active pipelines</p>

              <!-- start Pipeline list -->
              <table class="table table-striped projects">
                <thead>
                <tr>
                  <th style="width: 1%">#</th>
                  <th style="width: 20%">Pipeline Name</th>
                  <th>Owner</th>
                  <th>Health</th>
                  <th>Status</th>
                  <th>Provider</th>
                  <th style="width: 20%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>#</td>
                  <td>
                    <a>Pipeline_1</a>
                    <br />
                    <small>Created 01.01.2021</small>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <img th:src="@{/images/user.png}" class="avatar" alt="Avatar">
                      </li>
                    </ul>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <img src="https://www.jenkins.io/doc/book/resources/blueocean/icons/weather/cloudy.svg"
                             class="avatar" alt="Avatar">
                      </li>
                    </ul>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <img src="https://www.jenkins.io/doc/book/resources/blueocean/dashboard/status-unstable.png"
                             class="avatar" alt="Avatar">
                      </li>
                    </ul>
                  </td>
                  <td>
                    <img th:src="@{/images/GitHub-Mark.png}" >
                  </td>
                  <td>
                    <a href="#" class="btn btn-success btn-xs"><i class="fa fa-play"></i> Run</a>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Build</a>
                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                  </td>
                </tr>
                <tr>
                  <td>#</td>
                  <td>
                    <a>Pipeline_2</a>
                    <br />
                    <small>Created 01.01.2021</small>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <img th:src="@{/images/user.png}" class="avatar" alt="Avatar">
                      </li>
                    </ul>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <img src="https://www.jenkins.io/doc/book/resources/blueocean/icons/weather/sunny.svg"
                             class="avatar" alt="Avatar">
                      </li>
                    </ul>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <img src="https://www.jenkins.io/doc/book/resources/blueocean/dashboard/status-passed.png"
                             class="avatar" alt="Avatar">
                      </li>
                    </ul>
                  </td>
                  <td>
                    <img th:src="@{/images/GitHub-Mark.png}" >
                  </td>
                  <td>
                    <a href="#" class="btn btn-success btn-xs"><i class="fa fa-play"></i> Run</a>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Build</a>
                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                  </td>
                </tr>
                <tr>
                  <td>#</td>
                  <td>
                    <a>Pipeline_3</a>
                    <br />
                    <small>Created 01.01.2021</small>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <img th:src="@{/images/user.png}" class="avatar" alt="Avatar">
                      </li>
                    </ul>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <img src="https://www.jenkins.io/doc/book/resources/blueocean/icons/weather/storm.svg"
                             class="avatar" alt="Avatar">
                      </li>
                    </ul>
                  </td>
                  <td>
                    <ul class="list-inline">
                      <li>
                        <img src="https://www.jenkins.io/doc/book/resources/blueocean/dashboard/status-failed.png"
                             class="avatar" alt="Avatar">
                      </li>
                    </ul>
                  </td>
                  <td>
                    <img th:src="@{/images/GitHub-Mark.png}" >
                  </td>
                  <td>
                    <a href="#" class="btn btn-success btn-xs"><i class="fa fa-play"></i> Run</a>
                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Build</a>
                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                  </td>
                </tr>

                </tbody>
              </table>
              <!-- end project list -->

            </div>
          </div>
        </div>
        <!-- project list -->

      </div>
      <br />


    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        DOFAN - Next Gen by <a href=" ">Focus Corporation</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>

    <!-- :: is a footer fragment selector -->
    <div th:replace="common/includes :: body-bottom-scripts" />

</body>
</html>
